<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796777649728-isb1mkhvh2gmtbs2jc74sons036p7suk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796777649728-isb1mkhvh2gmtbs2jc74sons036p7suk</string>
	<key>API_KEY</key>
	<string>AIzaSyDAzykK8yzfB6rOULrLeFK1MNUG2gVob10</string>
	<key>GCM_SENDER_ID</key>
	<string>796777649728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fikri</string>
	<key>PROJECT_ID</key>
	<string>fikriapp-3faed</string>
	<key>STORAGE_BUCKET</key>
	<string>fikriapp-3faed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796777649728:ios:44280a146aaab41c2b71a5</string>
</dict>
</plist>